{% extends 'base.html' %}
{% load static %}

{% block title %}文件查询{% endblock %}
<!--显示filefiled文件：{{ pic.file.url }} -->
{% block content %}


<div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id='modaltitle'></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="modaltable"
                data-toggle="table"
                data-height="345"
                data-width="800"
                >          
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

<div class="container-fluid"> 
    <form>
        {% csrf_token %}            
    </form>

    <div id="toolbar">  
        <div class="form-inline">           
            <input name="search" id= 'id_search' class="form-control" type="text" placeholder="Search" style="width:300px;">
            <div class='px-2'>
                <button id="id_search_btn" type="button" class="btn btn-primary">查询文件</button>
            </div>
            <div class='px-5'>
                <button type="button" class="btn" id='partfind' style="width:100px;">查找物料</button>                
                <button type="button" class="btn" id='viewfile' style="width:100px;">查看图纸</button> 
                <button type="button" class="btn" id='samenamefile' style="width:100px;" data-toggle="modal" data-target="#modal">历史版本</button>                
            </div>
        </div>
        
    </div>
    <div>        
        <table id="table" class="table table-bordered table-sm"></table>
    </div> 
    
</div>

{% endblock %}

{% block custom-script %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}" >

<script type="text/javascript" src="{% static 'bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js' %}"></script>

<script>    
    var row_data={};    
    var columns = [ 
        { checkbox:true },       
        {
            field: 'sn',
            title: '序号',
            width: 50,
            align: 'center',
            valign: 'middle',
            formatter: function (value, row, index) {                        
                        return index+1;
                    }
        }, {
            field: 'filename',
            title: '图号/文件名',
            sortable:true, 
            halign: 'center',              
        },
         {
            field: 'code',
            title: '编码',
            halign: 'center',    
            sortable:true,
            formatter: function (value, row, index) {
                    if (value){
                        if (value.match(row['filename'])) {
                            return '';
                        } else {
                            return value;
                        }
                    }}
        },
         {
            field: 'name',
            title: '名称', 
            halign: 'center',               
        },
         {
            field: 'product',
            title: '产品名称',
            halign: 'center',    
            sortable:true,
            visible:false,
        },
        {
            field: 'stage',
            title: '阶段标记',
            halign: 'center',               
        },
        {
            field: 'valid',
            title: '状态',
            halign: 'center',    
            //formatter: function (value, row, index) {   },
            //根据条件设置单元格样式
            //cellStyle:function(value, row, index) { },
        },
        {
            field: 'add_time',
            title: '发放时间',
            halign: 'center',    
            sortable:true
        },
        {
            field: 'file_id',
            title: '文件编号',
            visible:false,
        },
        ];
    //可以根据条件设置该行样式
    //rowStyle:function(row,index){ }  

    $("#table").bootstrapTable({
        toolbar: '#toolbar',                //自定义工具按钮
        //url: '/files/filefind/',                //请求后台的URL（*）
        method: 'post',                      //请求方式（*）
        contentType : "application/x-www-form-urlencoded",
        striped: false,                      //是否显示行间隔色
        sortable: true,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        pageSize: 100,                       //每页的记录行数（*）
        pageList: [10, 20, 50, 100, 'All'], //可供选择的每页的行数（*）
        sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber: 1,                      //初始化加载第一页，默认第一页

        search:true,                        //******开启搜索框****//
        searchOnEnterKey:false,             //******回车后执行搜索****//
        strictSearch:true,                  //******完全匹配****//
        trimOnSearch:true,                  //去除关键词空格//
        searchAlign:"right",  

        singleSelect:true,                  //单选
        showColumns: true,                  //是否显示所有的列
        showRefresh: false,                  //是否显示刷新按钮
        minimumCountColumns: 1,             //最少允许的列数
        clickToSelect: true,                //是否启用点击选中行        
        uniqueId: "code",                   //每一行的唯一标识，一般为主键列        
        cardView: false,                    //是否显示详细视图
        detailView: false,                   //是否显示父子表        
        
        height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数决定表格高度
        showToggle: false,                  //是否显示详细视图和列表视图的切换按钮
        columns: columns,                   //列参数         
        
        onClickRow:function (row,ele) {                    
                    row_data=row;                    
                    if (row['file_id']){                        
                        $('#viewfile').attr("class",'btn btn-primary');
                    }else{                        
                        $('#viewfile').attr("class",'btn');
                    };                    
                }        
        });
    //得到查询的参数

    $("#id_search_btn").click(function () {
        var q_p={
            search: $('#id_search').val(),   
            type: 'DRAW',             
            csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),   
        };
        $('#table').bootstrapTable('refresh',{url: '/files/filefind/',query:q_p}); // 很重要的一步，刷新url！        
        });

   
            
    $('#viewfile').click(function(){       
        if (row_data['file_id']){
            window.open("{% url 'files:view' 'AAA'%}".replace('AAA',row_data['file_id']));
            };
        });
 
    var modalcolumns = [        
        {
            field: 'sn',
            title: '序号',
            width: 60,
            formatter: function (value, row, index) {                        
                        return index+1;
                    }
        },
         {
            field: 'code',
            title: '初始编码/最新',
            sortable:true,
            formatter: function (value, row, index) {
                    if (value){
                        if (value.match(row['filename'])) {
                            return '';
                        } else {
                            return value;
                        }
                    }}
        },         
        {
            field: 'stage',
            title: '阶段标记',           
        },
        {
            field: 'valid',
            title: '状态',
        },
        {
            field: 'add_time',
            title: '发放时间',
            sortable:true
        },
        {
            field: 'file_id',
            title: '文件',
            //visible:false,
            formatter: function (value, row, index) {                        
                        return "<a href='/files/view/"+value+"'target='_balnk'>查看</a>";
                    }
        },
        ]; 
    $("#modaltable").bootstrapTable({   
        //url: '/files/filefind/',    
        method: 'post',                      //请求方式（*）
        contentType : "application/x-www-form-urlencoded",
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: false,                   //是否显示分页（*）
        pageSize: 'all',                       //每页的记录行数（*）
        pageList: [10, 20, 50, 100, 'All'], //可供选择的每页的行数（*）
        sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
        columns: modalcolumns,                   //列参数 
        
        });    

    $(function() {
        $('#modal').on('shown.bs.modal', function () {
            if (row_data['filename']){
                var q_p={
                    search: row_data['filename'],
                    type: 'draw',
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                }


                $('#modaltitle').text(row_data['filename'] +'的同名文件：');
                
                $('#modaltable').bootstrapTable('refresh',{ url: '/files/filefind/', query: q_p});            
            };     
        
        });
        });

    $(document).ready(function () {
        var findJsonStr = sessionStorage.getItem('filefind');       
        if (findJsonStr){
            find = JSON.parse(findJsonStr);
            sessionStorage.removeItem('filefind');
            var q_p={
                search: find['search'],
                field_type: find['field_type'],
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),   
                };
            $('#table').bootstrapTable('refresh',{url: '/files/filefind/',query:q_p});
    
        };
        });
    
</script>   
{% endblock %}