{% extends 'base.html' %}
{% load static %}

{% block title %}物料成本更新{% endblock %}
 
{% block content %}
    <div class="container">
        <div class="col-md-10 pt-2"> 
        <h3 class="display-4"> 导入Erp Bom</h3>            
          <form id='form'  method="post" enctype="multipart/form-data">
                {% if msg %}
                    <div class="alert alert-warning">{{ msg }}</div>
                {% endif %}
            {% csrf_token %}  
            <div class="form-group py-3">
                <input class="col-md-8 form-control" type="file" name="file" id="id_file" required>
                <label class="col-form-label py-3" for="add_time">选择BOM日期</label>                
                <input type="date" class="col-md-3 form-control" name="add_time" id="add_time" required>
            </div> 
            <input type="submit" value="上传成本文件" class="btn btn-primary py-3 ">
            
          </form>  
        </div>        

    </div> <!-- /container -->
{% endblock %}

{% block custom-script %}
    <script>         
        $(document).ready(function() {
            document.getElementById('add_time').valueAsDate = new Date();
        });
    </script> 
{% endblock %}